logs
project/project
project/target
target
tmp
.history
dist

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/hydra.xml
.idea/**/play2_project_settings.xml

.idea/**/gradle.xml
.idea/**/libraries

/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

.idea/modules.xml
.idea/*.iml
.idea/modules
.idea/play2_settings.xml
/.idea/sonarlint/issuestore/
/app/apimodels/
/app/controllers/generated/
/velocity.log
/null/
